body {
    text-align: left;
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fffff8;
    color: #000000;
    line-height: 1.5;
    tab-size: 5; 
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
}

/* a:link {
  color: rgb(248, 220, 234);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 240, 242);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(245, 180, 201);
  background-color: transparent;
}

a:active {
  color: rgb(235, 141, 171);
  background-color: transparent;
} */

.headbox {
  width: 100%;
  background-image: url(img/bg.png);
  background-size: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #B6A898;
  border-radius: 6px;
  height: 8vh;
}

.headbox > a  {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  bottom: 10px;
  z-index: 10;
}

.contentbox {
  background-image: url(img/bg.png);
  background-size: auto;
  width: 100%;
  border: 3px solid #B6A898;
  border-radius: 6px;
  margin-top: 2%;
}

.contentbox > h4 {
  text-align: center;
  width: 100%;
  display: block;
}

.teenyTinyText {
  font-style: italic;
  font-size: 70%;
}

table {
  width: 100%;
  border-collapse: collapse; 
}

th:first-child, td:first-child {
  width: 25%; 
}

th:last-child, td:last-child {
  width: 75%;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0%;
    margin-top: 0%;
}